<div class="container">
    <div class="login-container center">
        <mat-card>
            <mat-card-title class="login-title">Seafarer International</mat-card-title>
            <mat-card-title class="login-title">Agency Management System</mat-card-title>
            
            <form (submit)="login()">
                <mat-form-field class="login-input" appearance="fill">
                  <mat-label>Username</mat-label>
                  <input type="text" [(ngModel)]="account_username" name="account_username" matInput>
                </mat-form-field>

                <mat-form-field class="login-input" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" [(ngModel)]="account_password" name="account_password" matInput>
                </mat-form-field>
                  
                <button type="submit" mat-button class="login-btn" color="primary">Login</button>
            </form>
        </mat-card>
    </div>
</div>