<div class="container">
    <div class="login-container center">
        <mat-card>
            <mat-card-title class="login-title">Seafarer International</mat-card-title>
            <mat-card-title class="login-title">Agency Management System</mat-card-title>
            
            <form class="example-form">
                <mat-form-field class="login-input" appearance="fill">
                  <mat-label>Username</mat-label>
                  <input matInput>
                </mat-form-field>

                <mat-form-field class="login-input" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput>
                  </mat-form-field>
            </form>

            <button mat-button class="login-btn" color="primary">Login</button>
        </mat-card>
    </div>
</div>