.add-btn{
    margin: 10px;
    float: right;
}

.close-btn{
    margin: 10px;
    float: right;  
}

.fullwidth-btn{
    width: 100%;
}

.login-input{
    width: 100%;
}

.rank-input{
    width:100%;
}