<div *ngIf="data.option == 'crew'">
    <form class="example-form">
        <mat-form-field class="login-input" appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="login-input" appearance="fill">
            <mat-label>Middle Name</mat-label>
            <input matInput>
        </mat-form-field>

        
        <mat-form-field class="login-input" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="rank-input" appearance="fill">
            <mat-label>Ranks</mat-label>
            <mat-select>
            <mat-option>
                Hello
            </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <div>
        <button class="fullwidth-btn" mat-raised-button>Upload Contract</button>
    </div> 
    
    <div class="add-btn">
        <button mat-raised-button>Add</button>
    </div>

    <div class="close-btn">
        <button mat-raised-button>Cancel</button>
    </div>
</div>

<div *ngIf="data.option == 'ship'">
    <form class="example-form">
        <mat-form-field class="login-input" appearance="fill">
            <mat-label>Ship Name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="fullwidth-btn" appearance="fill">
            <mat-label>Ship Class</mat-label>
            <mat-select>
            <mat-option>
                Hello
            </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <div class="add-btn">
        <button mat-raised-button>Add</button>
    </div>

    <div class="close-btn">
        <button mat-raised-button>Cancel</button>
    </div>
</div>

<div *ngIf="data.option == 'deploy'">
    <form class="example-form">
        <mat-form-field class="fullwidth-btn" appearance="fill">
            <mat-label>Ship Name</mat-label>
            <mat-select>
            <mat-option>
                Hello
            </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="fullwidth-btn" appearance="fill">
            <mat-label>Rank/Position</mat-label>
            <mat-select>
            <mat-option>
                Hello
            </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="fullwidth-btn" appearance="fill">
            <mat-label>Crew</mat-label>
            <mat-select>
            <mat-option>
                Hello
            </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <div class="add-btn">
        <button mat-raised-button>Add</button>
    </div>

    <div class="close-btn">
        <button mat-raised-button>Cancel</button>
    </div>
</div>


<div *ngIf="data.option == 'transaction'">
    <form class="example-form">
        <mat-form-field class="login-input" appearance="fill">
            <mat-label>Transaction Number</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="fullwidth-btn" appearance="fill">
            <mat-label>Ship Name</mat-label>
            <mat-select>
            <mat-option>
                Hello
            </mat-option>
            </mat-select>
        </mat-form-field>

        <p>Origin</p>
        <mat-form-field class="login-input" appearance="fill">
            <mat-label>Longitude</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="login-input" appearance="fill">
            <mat-label>Latitude</mat-label>
            <input matInput>
        </mat-form-field>

        <p>Destination</p>
        <mat-form-field class="login-input" appearance="fill">
            <mat-label>Longitude</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="login-input" appearance="fill">
            <mat-label>Latitude</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="login-input" appearance="fill">
            <mat-label>ETA</mat-label>
            <input matInput>
        </mat-form-field>
    </form>

    <div class="add-btn">
        <button mat-raised-button>Add</button>
    </div>

    <div class="close-btn">
        <button mat-raised-button>Cancel</button>
    </div>
</div>