<div class="container">
    <div class="header-container">
        <mat-card-title>Seafearer International: Agency Management System</mat-card-title>
        <button (click)="logout()" class="add-btn" mat-raised-button>Sign Out</button>
    </div>

<mat-tab-group>
    <mat-tab label="Crews"> 
        <div class="add-btn">
            <button mat-raised-button (click)="openDialog('crew')">Add Crew</button>
        </div>
    </mat-tab>

    <mat-tab label="Ships">   
        <div class="add-btn">
            <button mat-raised-button (click)="openDialog('ship')">Add Ship</button>
        </div>
    </mat-tab>

    <mat-tab label="Deployment">         
        <div class="add-btn">
            <button mat-raised-button (click)="openDialog('deploy')">Deploy Crew</button>
        </div> 
    </mat-tab>

    <mat-tab label="Transactions">         
        <div class="add-btn">
            <button mat-raised-button (click)="openDialog('transaction')">Add Transaction</button>
        </div> 
    </mat-tab>

</mat-tab-group>
</div>