<div class="container">
    <div class="header-container">
        <mat-card-title>Seafearer International: Agency Management System</mat-card-title>
        <button (click)="openDialog('logout')" class="add-btn" mat-raised-button>Sign Out</button>
    </div>

<mat-tab-group>
    <mat-tab style="height:100vh;" label="Crews"> 
        <div >
            <button class="add-btn" mat-raised-button (click)="openDialog('crew')">Add Crew</button>
        </div>

        <table mat-table [dataSource]="dataSourceCrew" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="crew_id">
              <th mat-header-cell *matHeaderCellDef> Crew ID </th>
              <td mat-cell *matCellDef="let element"> {{element.crew_id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="crew_name">
              <th mat-header-cell *matHeaderCellDef> Crew Name </th>
              <td mat-cell *matCellDef="let element"> {{element.crew_fname}} {{element.crew_mname}} {{element.crew_lname}}</td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="crew_rank">
              <th mat-header-cell *matHeaderCellDef> Rank </th>
              <td mat-cell *matCellDef="let element"> {{element.rank_name}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="crew_status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> 
                  <div *ngIf="element.crew_status == 1">Not Deployed</div>
                  <div *ngIf="element.crew_status == 2">Deployed</div>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsCrew"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsCrew;"></tr>
        </table>
          
    </mat-tab>

    <mat-tab label="Ships">   
        <div class="add-btn">
            <button mat-raised-button (click)="openDialog('ship')">Add Ship</button>
        </div>

        <table mat-table [dataSource]="dataSourceShip" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="ship_id">
              <th mat-header-cell *matHeaderCellDef> Ship ID </th>
              <td mat-cell *matCellDef="let element"> {{element.ship_id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="ship_name">
              <th mat-header-cell *matHeaderCellDef> Ship Name </th>
              <td mat-cell *matCellDef="let element"> {{element.ship_name}}</td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="ship_class">
              <th mat-header-cell *matHeaderCellDef> Ship Class </th>
              <td mat-cell *matCellDef="let element"> {{element.ship_speed_class}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="ship_speed">
                <th mat-header-cell *matHeaderCellDef> Ship Speed </th>
                <td mat-cell *matCellDef="let element"> {{element.ship_speed_knots}} Knots</td>
              </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="ship_status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> 
                  <div *ngIf="element.ship_status == 1">Not Deployed</div>
                  <div *ngIf="element.ship_status == 2">Deployed</div>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsShip"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsShip;"></tr>
        </table>
    </mat-tab>

    <mat-tab label="Deployment">         
        <div class="add-btn">
            <button mat-raised-button (click)="openDialog('deploy')">Deploy Crew</button>
        </div> 
    </mat-tab>

    <mat-tab label="Transactions">         
        <div class="add-btn">
            <button mat-raised-button (click)="openDialog('transaction')">Add Transaction</button>
        </div> 
    </mat-tab>

</mat-tab-group>
</div>